body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
      height: 80px;
      background-color: #e5d2c2;
  }
  
  header h2 {
      font-family: serif;
      color: #e30202;
      margin: 0px;
      font-size: 28px;
      text-align: center;
  }
  
  footer {
      background-color: #d5c0ae;
  }
  
  h1, h2, h3 {
    font-family:  sans-serif;
      color: #ae590f;
    text-align: center;
    font-weight: 600;
  }
  
  h1 { font-size: 32px; }
  h2 { font-size: 28px; }
  h3 { font-size: 22px; }
  
  p, li {
   font-family:  sans-serif;
   line-height: 1.5em;
   margin-bottom: 0;
    text-align: center;
  }
  
  a {
      font-weight: 650;
      text-decoration: none;	
  }
  a:link { color: #b67777; }
  a:visited { color: #5c004b; }
  a:hover { color: #7c537f; }
  a:active { color: #664f82; }
  a:hover {
      text-decoration: underline;	
  }
  
  em {
    font-weight: bold;
    font-style: normal;
  }
  
  img, iframe { 
    width: 100%;	
    border-radius: 6px;
    border: 1px solid #816331;
  } 
  
  
  footer p {
      color: #e2b6a7;	
      text-align: center;
    padding: 30px;
    margin: 0;
  }